[Unit]
Description=Bank FastAPI
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/mc-banking
EnvironmentFile=/home/ubuntu/mc-banking/.env
ExecStart=/home/ubuntu/mc-banking/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target